{% extends "layouts/base.html" %}

{% block title %} Index {% endblock %}

{% block content %}
    <script>
    async function send_approve_form(domain, verdict) {
        let data = {
            domain: domain,
            verdict: verdict
        };
        try {
            const response = await fetch('/approve', {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            const json = await response.json();
            console.log('Успех:', JSON.stringify(json));
        } catch (error) {
            console.error('Ошибка:', error);
        }
    }

    </script>
    <article class="first-entry home-info">
        <header class=entry-header><h2>Good domain found:</h2></header>
        <section class=entry-content><p>
            <p>Total {{ domains|length }} domains found!</p>
        </section>
    </article>

    {% import "layouts/domain-card.html" as  domain_card %}
        {% for domain in domains %}
            {% set i = loop.index %}
            {{ domain_card.dc(domain['url'], '../static/img/screenshot.png', domain['datetime'].strftime("%B %d, %Y"),
                'id_phishing1', '#', 'id_fp1', '#', domain['data'], 'Good') }}
        {% endfor %}
    {% if not domains %}
        <p>No entries</p>
    {% endif %}
    <footer class=page-footer>
        <nav class=pagination>
            <a class=next href=#>Next Page »</a>
        </nav>
    </footer>

{% endblock content %}