{% extends "layouts/base.html" %}

{% block title %} Index {% endblock %}

{% block content %}
    <article class="first-entry home-info">
        <header class=entry-header><h2>Phishing domain found:</h2></header>
        <section class=entry-content><p>
            <p>Today analyzed 109 domains!</p>
        </section>
    </article>

    {% import "layouts/domain-card.html" as  domain_card %}
    {{ domain_card.dc('google-ru.ru', '../static/img/screenshot.png', 'January 18, 2021 · 3 min',
            'id_phishing1', '#', 'id_fp1', '#') }}
    {{ domain_card.dc('google.ru', '../static/img/screenshot.PNG', 'January 18, 2021 · 3 min',
            'id_phishing2', '#', 'id_fp2', '#') }}

    <footer class=page-footer>
        <nav class=pagination>
            <a class=next href=#>Next Page »</a>
        </nav>
    </footer>

{% endblock content %}