{% extends "layouts/base.html" %}

{% block title %} Index {% endblock %}

{% block content %}
    <article class="first-entry home-info">
        <header class=entry-header><h2>Phishing domain found:</h2></header>
        <section class=entry-content><p>
            <p>Today analyzed 109 domains!</p>
        </section>
    </article>

    {% import "layouts/domain-card.html" as  domain_card %}
    {% for domain in domains %}
    {{ domain_card.dc(domain['url'], '../static/img/screenshot.png', domain['datetime'].strftime("%B %d, %Y"),
            'id_phishing1', '#', 'id_fp1', '#', domain['data']) }}
    {% endfor %}
    {% if not domains %}
        <p>No entries</p>
    {% endif %}
    <footer class=page-footer>
        <nav class=pagination>
            <a class=next href=#>Next Page »</a>
        </nav>
    </footer>

{% endblock content %}