{% extends "layouts/base.html" %}

{% block title %} My Domains {% endblock %}

{% block content %}
    <header class="page-header">
        <h1>My Domains List</h1>
        <div class=post-meta>
            <ul>These domains will be analyzed, added to the database, and marked as legitimate</ul>
        </div>
        <div id="searchbox">
            <form id="my_domains_list" action="#" method="POST">
                <textarea name="domains" autofocus placeholder="Text your domains here" aria-label="module-test"
                          rows="10">{% for line in urls %}{{ line }}&#10;{% endfor %}</textarea>
                <div class="buttons">
                    <a class="button" type="submit" href="javascript:{}"
                       onclick="document.getElementById('my_domains_list').submit();">Submit</a>
                </div>
            </form>
            <ul id=" searchResults" aria-label="modules results">
                {% if error %}
                    <li class="post-entry">
                        <p style="color: darksalmon;"><strong>{{ error }}</strong></p>
                    </li>
                {% elif add_msg %}
                    <li class="post-entry">
                        <p><strong>Information will be added to the database soon </strong></p>
                    </li>
                {% endif %}
            </ul>
        </div>
    </header>

{% endblock content %}