{% extends "layouts/base.html" %}

{% block title %} Modules {% endblock %}

{% block content %}
    <header class="page-header">
        <h1>Settings</h1>
    </header>

    <div class="post-content">
        <h3>Section</h3>
        <label><input type="checkbox" checked/> Some feature 1</label>
        <br>
        <label><input type="checkbox"/> Some feature 2</label>
        <h3>Section</h3>
        <label><input type="checkbox" checked/> Some feature 1</label>
        <br>
        <label><input type="checkbox"/> Some feature 2</label>
    </div>

{% endblock content %}